body {
background-color:rgb(30, 5, 41);
}

.highlightme { 
    background-color:#e4b5dc; 
}

p {
    background-color:#e4b5dc; 
}

.next {
    position: absolute;
    bottom: 0px;
    margin-bottom: 3%;
    padding-right: 3%;
    width: 100%;
    text-align: end;
}

.link {
    color: rgb(255, 250, 230);
    margin-bottom: 3%;
    padding-right: 3%;
    font-size: x-large;
}

.link:hover {
    color: rgb(30, 5, 41);
}